<div class="checkout_product">
    <img src="../images/products.png" style="width: 50px;" alt="" />
    <span class="product_title">
        {{this.productname}}
    </span>
    <span class="product_qty">
        {{this.qty}}
    </span>
</div>