<div class="checkout_product">
    <img src="../images/services.png" style="width: 50px;" alt="" />
    <span class="product_title">
        {{this.servicename}}
    </span>
    <span class="product_qty">
        
    </span>
</div>